<h1>Name: <%= @store.name %> </h1><br>
<h2>City: <%= @store.city %> </h2><br>
<h2>State: <%= @store.state %> </h2><br>

<%= form_for (@appointment) do |f| %>
    <%= f.label :date %>
    <%= f.datetime_local_field :datetime %>
    <%= hidden_field_tag :id, "#{@store.id}" %>

    <%= f.submit "Book Appointment" %>
<% end %>

<% if rated?(@store) %>
    <h3>Your Rating: <%= rating_score(@store) %><br>
    
    <%= form_tag rating_path(rating(@store)), method: "delete"  do %>
        <%= hidden_field_tag  :id, "#{@store.id}" %>
        <input type=submit value=Delete Rating><br><br>
    <% end %>
<% end %>

<h3>Overall Rating: <%= @store.overall_rating %><br>

<%= form_tag ({controller: 'ratings', action: 'create', method: 'post'})  do %>
    <%= hidden_field_tag  :id, "#{@store.id}" %>
    <%= select_tag "score", options_for_select([1,2,3,4,5], 5) %>
    <input type=submit value='Rate Store'>
<% end %><br>

<%= form_tag ({controller: 'favorites', action: 'create', method: 'post'})  do %>
    <%= hidden_field_tag  :id, "#{@store.id}" %>
    <input type=submit value='Add to Favorites'>
<% end %>

<%= link_to "All Stores", stores_path %>